@using DominiksCarRental.ViewModels
@model DominiksCarRental.ViewModels.CarViewModel

<h1>Edit a rental</h1>

<form asp-action="Edit" enctype="multipart/form-data">
	<div asp-validation-summary="All" class="text-danger"></div>
	<div class="form-group">
		<label asp-for="CarDTO.Id"><h5>Id</h5></label>
		<input asp-for="CarDTO.Id" type="text" class="form-control" disabled />
	</div>
	<div class="form-group">
		<label asp-for="CarDTO.Name"><h5>Name of the car</h5></label>
		<input asp-for="CarDTO.Name" type="text" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="CarDTO.MainImage"><h5>Image of a car (URL)</h5></label>
		<input asp-for="CarDTO.MainImage" type="text" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="CarDTO"><h5>Type of the car</h5></label>
		<select asp-for="CarDTO.CarTypeID" class="form-control" id="carTypeSelect">
			@if (Model.CarTypes != null)
			{
				@foreach (var item in Model.CarTypes)
				{
					<option value="@item.ID">@item.Name</option>
				}
			}
		</select>
		<span asp-validation-for="CarDTO.CarTypeID" class="text-danger"></span>
	</div>
	<input asp-for="CarDTO.CarTypeID" type="hidden" id="CarDTO_CarTypeID" />
	<div class="form-group">
		<label asp-for="CarDTO.NumberOfSeats"><h5>Number of the seats</h5></label>
		<select asp-for="CarDTO.NumberOfSeats" class="form-control">
			@for (int i = 1; i <= 10; i++)
			{
				<option value="@i">@i</option>
			}
		</select>
	</div>
	<div class="form-group">
		<label asp-for="CarDTO.RentalPrice"><h5>Rental price</h5></label>
		<input asp-for="CarDTO.RentalPrice" type="text" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="CarDTO.Description"><h5>Description</h5></label>
		<textarea asp-for="CarDTO.Description" type="text" class="form-control"></textarea>
	</div>
	<div class="mt-2">
	<button type="submit" class="btn btn-success">Edit</button>
	</div>
</form>

@section Scripts {
	<script>
		document.getElementById('carTypeSelect').addEventListener('change', function () {
			var selectedValue = this.value;
			document.getElementById('CarDTO_CarTypeID').value = selectedValue;
		});
	</script>
}